#register-body h1 {
    margin: 50px auto;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

#register-body form fieldset {
    width: 500px;
    padding: 50px;
    margin: 0 auto;
    line-height: 30px;
    border: 1px solid black;
}