#home-body main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

main * {
    width: 33%;
}

main aside {
    background-color: darksalmon;
}

#article01 iframe {
    width: 100%;
}