#home-body main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#home-body main aside {
  width: 200px;
  padding: 20px;
  background-color: darksalmon;
}

#home-body main section {
  width: 100%;
}
