/* #home-body nav {
    background-color: darkgoldenrod;
} */

#home-body nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
}

nav ul li {
    display: block;
}

nav li a {
    color: black;
    -webkit-text-fill-color: black;
    background: white;
}

nav li a:hover {
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, #ffa3a1, #a62efd);
    background-clip: text;
    -webkit-background-clip: text;
    transition-property: color, -webkit-text-fill-color, background;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
