#article01 iframe {
    width: 100%;
    height: 400px;
}

#article01 iframe html {
    width: 100%;
    height: 100%;
}

#article01 iframe html {
    width: 100%;
    height: 100%;
}

#section-body {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#section-body div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    min-width: 30%;
    height: 100%;
    padding: 30px;
    border: 1px solid #cccccc;
}

#section-body div img {
    width: 140px;
    max-width: 200px;
    min-width: 100px;
}